body {
    background-image: url('https://estaticos.qdq.com/swdata/home_photos/686/686209217/b261e641a22f44a092d740e1d5d94b63.jpg');
    text-align: center;
    margin: 30px;
}

.padre{
    display: flex;
    margin: 5px;
}